@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.additional {
  padding: 96px 0 60px;

  p {
    margin: 0 auto;
    width: fit-content;
    font-family: var(--font-family-secondary);
    font-weight: var(--fw-700);
    font-size: clamp(20px, 2rem + 1vi, 40px);
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-green-200);

    .text {
      &__light {
        color: var(--color-green-50);
      }

      &__green {
        color: var(--color-green-200);
      }
    }
  }

  &--about-us {
    padding: 59px 0 60px;

    p {
      display: flex;
      flex-direction: column;
      color: var(--color-black-100);

      &::before {
        content: "";
        margin-bottom: 20px;
        width: 54px;
        height: 17px;
        background-image: url("data:image/svg+xml,%3Csvg width='56' height='18' viewBox='0 0 56 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M38.7705 1L41.1311 16.0584L16.9344 16.0588V7.58847L19.2951 1.00042L28.7377 2.60238L38.7705 1Z' fill='%232C8469'/%3E%3Cpath d='M1 16.0588L10.5806 17L16.9344 16.0588M55 16.0588L48.0323 15.1177L41.1311 16.0584M41.1311 16.0584L38.7705 1L28.7377 2.60238L19.2951 1.00042L16.9344 7.58847V16.0588M41.1311 16.0584L16.9344 16.0588' stroke='black'/%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  @include media(tablet) {
    padding: 30px 0;
  }
}