@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.discover {
  $root: &;

  position: relative;
  overflow: hidden;
  padding: 129px 0 0;
  max-width: 100%;

  h2 {
    margin: 0 auto 0 235px;
    font-family: var(--font-family-secondary);
    font-weight: var(--fw-700);
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-green-50);

    @include media(tablet) {
      margin: 0;
    }
  }

  p {
    margin: 0 134px 0 auto;
    max-width: 756px;
    color: var(--color-black-50);

    @include media(tablet) {
      margin: 0;
    }
  }

  &__text {
    display: none;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
  }

  &__container {
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {   /* Hide scrollbar for Chrome, Safari and Opera */
      overflow-x: hidden;
    }
  }

  &-slider {
    overflow: visible;

    &.container {
      padding-right: 0;
    }
  }

  &__slide {
    display: flex;
    opacity: 0;
    visibility: hidden;

    &.swiper-slide-active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__grid {
    display: flex;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    max-width: fit-content;

    img {
      height: 100%;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    p {
      padding-right: 20px;
      max-width: 329px;
      color: var(--color-black-100);
    }
  }

  .btn--simple {
    padding: 11px 40px;
    font-size: 16px;
  }

  &--about-us {
    padding: 100px 0 0;

    .btn {
      display: none;
    }

    #{$root}__header {
      margin-bottom: 60px;
    }
  }

  &--wildlife {
    padding: 120px 0 0;

    .btn {
      display: none;
    }

    h2 {
      padding-left: 20px;
      margin: unset;
    }

    #{$root}__header {
      margin-bottom: 60px;

      p {
        margin-left: 18.8%;
      }
    }

    #{$root}__item {
      position: relative;
      cursor: pointer;

      &:hover .discover__text,
      &:focus .discover__text {
        cursor: pointer;
        opacity: 1;
        display: block;
        background: var(--color-green-400);
        display: flex;
        transition-property: opacity, visibility;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        text-indent: -20px;

        @include media(tablet) {
          opacity: 0;
        }
      }

      .discover__text {
        width: 100%;
        height: 50%;
        position: absolute;
        padding: 16px 4px 16px 25px;
        margin: 0;
        bottom: 0;
        opacity: 0;
        transition-property: opacity, visibility;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        font-family: var(--font-family-primary);
        font-weight: var(--fw-400);
        font-size: clamp(16px, 2rem + 1vi, 23px);
        color: var(--color-white);
      }

      img {
        min-width: 472px!important;
      }
    }
  }

  &--tips {
    padding: 42px 0 0;

    .btn {
      display: none;
    }
  }

  @include media(tablet) {
    padding: 30px 0;

    &__slider {
      margin-bottom: 0;
    }
  }

  @include media(mobile-l) {
    &__slide {
      display: block;
      align-items: center;
    }

    &__title {
      align-items: center;
    }

    img {
      aspect-ratio: 16 / 7;
    }
  }

  @include media(mobile-m) {
    &__btns {
      display: none;
    }

    .swiper-scrollbar {
      position: relative !important;
      display: block;
      margin-top: 16px;
    }
  }
}