@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.footer {
  &__copyrigth {
    border-top: 1px solid var(--color-gray-50);
    padding: 84px 0;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 61px 0 56px;
    }

    .copyrigth {
      &__list {
        display: flex;
      }

      &__item {
        a {
          font-family: var(--font-family-primary);
          font-weight: var(--fw-400);
          font-size: 16px;
          line-height: 1.31;
          text-align: left;
          text-indent: 0;
        }

        &:not(:last-child) {
          margin-right: 68px;
        }
      }

      &__link {
        color: var(--color-black-100);
      }
    }

    p {
      font-family: var(--font-family-primary);
      font-weight: var(--fw-400);
      font-size: 18px;
      line-height: 1.2;
      text-align: left;
      text-indent: 0;
      color: var(--color-black-100);
    }
  }

  @include media(mobile-l) {
    &__copyrigth {
      .container {
        flex-direction: column-reverse;
      }

      .copyrigth {
        &__list {
          flex-direction: column;
          margin-bottom: 12px;
        }

        &__item {
          &:not(:last-child) {
            margin-right: 0;
            margin-bottom: 12px;
          }
        }
      }
    }
  }

  @include media(mobile-m) {
    &__copyrigth {
      text-align: left;
    }
  }
}