@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.testimonials {
  $root: &;

  position: relative;
  overflow: hidden;
  padding: 100px 0;
  max-width: 100%;

  h2 {
    font-family: var(--font-family-secondary);
    font-weight: var(--fw-700);
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-gray-50);
    text-indent: 34.6%;

    span {
      color: var(--color-green-200);
    }
  }

  h3 {
    color: var(--color-black-200);
    line-height: 1.1;
    margin-bottom: 7px;
  }

  p {
    margin: 0 134px 0 auto;
    max-width: 756px;
    color: var(--color-black-50);
  }

  &__header {
    display: none;
    margin-bottom: 44px;
  }

  &__title {
    display: flex;
  }

  &-slider {
    overflow: visible;
  }

  &__slide {
    display: flex;
    opacity: 0;
    visibility: hidden;

    &.swiper-slide-active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__grid {
    display: flex;
  }

  &__item {
    display: flex;
    max-height: 263px;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 60px;

    img {
      height: fit-content;
      border-radius: 8px;
      margin-right: 20px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 415px;
    padding: 44px 30px 44px 0;
    border-top: 1px solid var(--color-gray-50);
    border-bottom: 1px solid var(--color-gray-50);
    height: 100%;

    p {
      margin: 0;
      max-width: 289px;
      color: var(--color-black-100);
    }

    &:nth-child(2) {
      padding: 43px 36px 44px 26px;
      max-width: 431px;
      border-left: 1px solid var(--color-gray-50);
    }
  }

  .btn--simple {
    padding: 11px 40px;
    font-size: 16px;
  }

  &--home {
    #{$root}__title {
      display: none;
    }

    #{$root}__header {
      display: block;
    }
  }

  @include media(tablet) {
    padding: rem(60) 0;

    &__slider {
      margin-bottom: 0;
    }
  }

  @include media(mobile-l) {
    &__slide {
      display: block;
      align-items: center;
    }

    &__image {
      margin-bottom: 12px;
      max-width: 500px;
    }

    &__content {
      margin: 0 0 20px;
      padding: 20px;
      max-width: 500px;
    }
  }

  @include media(mobile-m) {
    &__btns {
      display: none;
    }

    .swiper-scrollbar {
      position: relative !important;
      display: block;
      margin-top: 16px;
    }
  }
}