@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.park {
  padding: 100px 60px;

  h1 {
    margin-bottom: 31px;
    font-family: var(--font-family-secondary);
    font-weight: var(--fw-700);
    font-size: clamp(16px, 2rem + 1vi, 26px);
  }

  &__link {
    display: flex;
    margin-bottom: 34px;
    padding-left: 13px;
    font-family: var(--font-family-inter);
    font-weight: var(--fw-400);
    font-size: clamp(16px, 2rem + 1vi, 24px);
    line-height: 1.21;
    color: var(--color-gray-50);

    &::before {
      content: "";
      margin-right: 23px;
      width: 24px;
      height: 34px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='32' viewBox='0 0 16 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1.5C9 0.947715 8.55228 0.5 8 0.5C7.44772 0.5 7 0.947715 7 1.5H9ZM7.29289 31.2071C7.68342 31.5976 8.31658 31.5976 8.70711 31.2071L15.0711 24.8431C15.4616 24.4526 15.4616 23.8195 15.0711 23.4289C14.6805 23.0384 14.0474 23.0384 13.6569 23.4289L8 29.0858L2.34315 23.4289C1.95262 23.0384 1.31946 23.0384 0.928932 23.4289C0.538408 23.8195 0.538408 24.4526 0.928932 24.8431L7.29289 31.2071ZM7 1.5L7 30.5H9L9 1.5H7Z' fill='%238E8E8E'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      background-color: transparent;
      rotate: (90deg);
    }
  }

  &__images {
    display: flex;
    margin-bottom: 59px;

    li {
      &:not(:last-of-type) {
        margin-right: 42px;
      }
    }
  }

  &__info {
    ul {
      list-style: none;
      margin-bottom: 30px;

      li {
        display: flex;

        p {
          margin-right: 7px;
          font-family: var(--font-family-inter);
          font-size: clamp(16px, 2rem + 1vi, 24px);
          line-height: 1.21;
        }

        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }
  }

  &__comment {
    border-radius: 16px;
    padding: 8px;
    width: fit-content;
    background-color: var(--color-green-50);

    p {
      font-family: var(--font-family-inter);
      font-size: clamp(16px, 2rem + 1vi, 24px);
      line-height: 1.21;
    }
  }

  @include media(tablet) {
    padding: rem(60) 0;
  }
}