/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

:root {
  --content-width: 1360px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // font-family
  --font-family-primary: "Didact Gothic", sans-serif;
  --font-family-secondary: "Noto Sans", sans-serif;
  --font-family-inter: "Inter", sans-serif;

  // font-style
  --fs-italic: italic;

  // font-weight
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  // color
  --color-white: #fff;
  --color-black-50: #000000;
  --color-black-100: #0D0D0D;
  --color-black-150: #121212;
  --color-black-200: #000B33;
  --color-green-50: #B9DE6A;
  --color-green-100: #52B093;
  --color-green-150: #82BDAB;
  --color-green-200: #2C8469;
  --color-green-250: #848625;
  --color-green-300: #D8E9B3;
  --color-green-350: #91CBBA;
  --color-orange: #C88716;
  --color-orange-100: #AC7903;
  --color-yellow: #F2EAA5;
  --color-gray-10: rgba(255, 255, 255, 0.3);
  --color-gray-40: #F2F2F2;
  --color-gray-50: #8E8E8E;
  --color-gray-60: #C4C4C4;
  --color-gray-100:#1F1F1F;
  --color-gray-150: #2C2C2E;
  --color-blue-50: #E1F1F2;
  --color-blue-60: #DCF0EA;

  
  //  radius
  --radius-main: 40px;

  // shadow
  --shadow-primary: 0 8px 16px 0 rgba(0, 0, 0, 0.04);
}