@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.values {
  $root: &;

  position: relative;
  display: flex;
  overflow: hidden;
  padding: 86px 0 0;
  max-width: 100%;

  h2 {
    margin-bottom: 16px;
    font-family: var(--font-family-secondary);
    font-weight: var(--fw-700);
    line-height: 1;
    text-transform: uppercase;
    color: var(--color-green-50);
  }

  h3 {
    margin-bottom: 11px;
    font-family: var(--font-family-inter);
    font-weight: var(--fw-500);
    line-height: 1.16;
    color: var(--color-black-100);
  }

  p {
    color: var(--color-black-50);
  }

  &__title {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-right: 20px;
    width: 100%;
    max-width: 487px;
  }

  &-slider {
    overflow: hidden;
    width: 100%;
    max-height: 426px;
  }

  &__slide {
    display: flex;
    opacity: 0;
    visibility: hidden;

    &.swiper-slide-active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__grid {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    padding-top: 66px;
    padding-bottom: 146px;
    width: 100%;
    max-width: 813px;
    max-height: 426px;

    &::before {
      content: "";
      margin-right: 16px;
      width: 212px;
      height: 212px;
      background-image: url("data:image/svg+xml,%3Csvg width='213' height='214' viewBox='0 0 213 214' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M79.6154 152.142L79.6206 152.129L79.6255 152.116C80.4296 150.03 82.0061 148.884 83.4697 148.627C84.8505 148.384 86.3655 148.877 87.4361 150.644C89.6356 154.274 94.6241 155.111 97.9789 152.58L106.796 145.927L106.893 145.853L106.982 145.77L108.623 144.222L107.103 142.61L108.623 144.222C116.324 136.959 128.968 140.302 132.068 150.05L132.092 150.123L132.12 150.195L134.081 155.135C134.645 156.556 135.287 157.988 135.909 159.376C136.032 159.651 136.154 159.924 136.275 160.194C137.018 161.859 137.714 163.465 138.271 165.058C139.389 168.253 139.865 171.161 139.122 173.965C139.063 174.186 138.979 174.4 138.871 174.599L140.821 175.653L138.871 174.599C138.239 175.769 137.945 176.275 137.608 176.717C137.273 177.156 136.851 177.586 135.868 178.514C133.205 181.026 130.05 182.342 126.308 182.342H86.4217C85.4411 182.342 84.704 182.316 84.0966 182.256L83.8758 184.46L84.0966 182.256C81.4385 181.989 78.6416 180.653 76.5152 178.652C74.387 176.648 73.1261 174.174 73.1261 171.733V171.164C73.1261 168.654 74.0826 166.078 75.1887 163.208L79.6154 152.142Z' fill='%2370D767' stroke='%23F9FCF8' stroke-width='4.43187'/%3E%3Cpath d='M68.2862 163.02L68.3591 162.872L68.4207 162.718L76.9361 141.555C80.2518 133.314 80.745 124.301 78.3381 115.777L72.5792 95.3809C69.5998 84.8288 72.3773 73.5376 80.143 65.1864L99.001 44.9066C99.1174 44.9377 99.2607 44.9791 99.435 45.0346C99.729 45.1282 100.025 45.2316 100.394 45.3607C100.475 45.389 100.56 45.4186 100.649 45.4496C101.109 45.6101 101.661 45.7994 102.245 45.9699C103.346 46.291 104.77 46.6111 106.365 46.56C107.961 46.6111 109.384 46.2911 110.485 45.9701C111.069 45.7996 111.621 45.6103 112.081 45.4499C112.17 45.4189 112.255 45.3894 112.336 45.3611C112.705 45.232 113.001 45.1286 113.295 45.035C113.469 44.9796 113.613 44.9381 113.729 44.907L132.587 65.187C140.353 73.5382 143.13 84.8294 140.151 95.3815L134.392 115.777C131.985 124.302 132.478 133.315 135.794 141.555L144.309 162.719L144.371 162.872L144.444 163.02C150.23 174.787 141.229 189.071 126.087 189.071L106.365 189.07H86.6433C71.501 189.07 62.4998 174.786 68.2862 163.02ZM99.4369 44.4379C99.4366 44.4382 99.4363 44.4385 99.436 44.4389L99.4369 44.4379L96.1914 41.4199L99.4369 44.4379Z' stroke='%23348E2B' stroke-width='8.86373'/%3E%3Crect x='93.0693' y='22.7949' width='26.5912' height='13.2956' rx='4.43187' fill='%2370D767'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;

      @include media(mobile-m) {
        background-position: center;
      }
    }

    &--sustainable {
      background-color: var(--color-green-300);

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='213' height='214' viewBox='0 0 213 214' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M79.6154 152.142L79.6206 152.129L79.6255 152.116C80.4296 150.03 82.0061 148.884 83.4697 148.627C84.8505 148.384 86.3655 148.877 87.4361 150.644C89.6356 154.274 94.6241 155.111 97.9789 152.58L106.796 145.927L106.893 145.853L106.982 145.77L108.623 144.222L107.103 142.61L108.623 144.222C116.324 136.959 128.968 140.302 132.068 150.05L132.092 150.123L132.12 150.195L134.081 155.135C134.645 156.556 135.287 157.988 135.909 159.376C136.032 159.651 136.154 159.924 136.275 160.194C137.018 161.859 137.714 163.465 138.271 165.058C139.389 168.253 139.865 171.161 139.122 173.965C139.063 174.186 138.979 174.4 138.871 174.599L140.821 175.653L138.871 174.599C138.239 175.769 137.945 176.275 137.608 176.717C137.273 177.156 136.851 177.586 135.868 178.514C133.205 181.026 130.05 182.342 126.308 182.342H86.4217C85.4411 182.342 84.704 182.316 84.0966 182.256L83.8758 184.46L84.0966 182.256C81.4385 181.989 78.6416 180.653 76.5152 178.652C74.387 176.648 73.1261 174.174 73.1261 171.733V171.164C73.1261 168.654 74.0826 166.078 75.1887 163.208L79.6154 152.142Z' fill='%2370D767' stroke='%23F9FCF8' stroke-width='4.43187'/%3E%3Cpath d='M68.2862 163.02L68.3591 162.872L68.4207 162.718L76.9361 141.555C80.2518 133.314 80.745 124.301 78.3381 115.777L72.5792 95.3809C69.5998 84.8288 72.3773 73.5376 80.143 65.1864L99.001 44.9066C99.1174 44.9377 99.2607 44.9791 99.435 45.0346C99.729 45.1282 100.025 45.2316 100.394 45.3607C100.475 45.389 100.56 45.4186 100.649 45.4496C101.109 45.6101 101.661 45.7994 102.245 45.9699C103.346 46.291 104.77 46.6111 106.365 46.56C107.961 46.6111 109.384 46.2911 110.485 45.9701C111.069 45.7996 111.621 45.6103 112.081 45.4499C112.17 45.4189 112.255 45.3894 112.336 45.3611C112.705 45.232 113.001 45.1286 113.295 45.035C113.469 44.9796 113.613 44.9381 113.729 44.907L132.587 65.187C140.353 73.5382 143.13 84.8294 140.151 95.3815L134.392 115.777C131.985 124.302 132.478 133.315 135.794 141.555L144.309 162.719L144.371 162.872L144.444 163.02C150.23 174.787 141.229 189.071 126.087 189.071L106.365 189.07H86.6433C71.501 189.07 62.4998 174.786 68.2862 163.02ZM99.4369 44.4379C99.4366 44.4382 99.4363 44.4385 99.436 44.4389L99.4369 44.4379L96.1914 41.4199L99.4369 44.4379Z' stroke='%23348E2B' stroke-width='8.86373'/%3E%3Crect x='93.0693' y='22.7949' width='26.5912' height='13.2956' rx='4.43187' fill='%2370D767'/%3E%3C/svg%3E");
      }
    }

    &--environmental {
      background-color: var(--color-green-350);

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='213' height='214' viewBox='0 0 213 214' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='84.2054' cy='71.5449' r='42.1027' fill='%2370D767' stroke='%23F9FCF8' stroke-width='4.43187'/%3E%3Ccircle cx='68.6941' cy='118.079' r='22.1593' fill='%2370D767' stroke='%23F9FCF8' stroke-width='4.43187'/%3E%3Ccircle cx='135.172' cy='69.3289' r='22.1593' fill='%2370D767' stroke='%23F9FCF8' stroke-width='4.43187'/%3E%3Ccircle cx='148.468' cy='104.784' r='35.4549' fill='%2370D767' stroke='%23F9FCF8' stroke-width='4.43187'/%3E%3Cpath d='M104.754 191.206V129.75M104.754 129.75L95.1848 116.307M104.754 129.75L120.064 116.307M68.6943 60.4655L89.8691 87.4999M150.684 87.4999L120.064 116.307M89.8691 87.4999L99.7174 75.977M89.8691 87.4999L95.1848 116.307M95.1848 116.307L74.1334 118.228M120.064 116.307L143.029 118.228' stroke='%23348E2B' stroke-width='8.86373' stroke-linecap='round'/%3E%3C/svg%3E");
      }
    }

    &--supporting {
      background-color: var(--color-yellow);

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='213' height='214' viewBox='0 0 213 214' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='106.365' cy='107' r='35.4549' fill='%23F9FCF8' stroke='%23348E2B' stroke-width='8.86373'/%3E%3Ccircle cx='106.365' cy='107' r='17.7275' fill='%23F9FCF8' stroke='%2370D767' stroke-width='8.86373'/%3E%3Cpath d='M64.1633 66.169C67.1327 68.2907 69.0154 71.422 69.6575 74.8119C66.3613 75.3258 62.8777 74.5955 59.9297 72.4892C56.9602 70.3676 55.0775 67.2362 54.4355 63.8464C57.7316 63.3324 61.2152 64.0627 64.1633 66.169Z' fill='%2370D767' stroke='%2370D767' stroke-width='6.44635'/%3E%3Cpath d='M52.1937 85.6716C55.6111 86.9524 58.2401 89.4898 59.7376 92.598C56.6868 93.9475 53.1329 94.1437 49.7402 92.8722C46.3228 91.5914 43.6938 89.054 42.1962 85.9458C45.2471 84.5963 48.801 84.4001 52.1937 85.6716Z' fill='%2370D767' stroke='%2370D767' stroke-width='6.44635'/%3E%3Cpath d='M49.1228 108.344C52.7531 107.97 56.2369 109.071 58.9616 111.188C56.8307 113.754 53.7358 115.512 50.1318 115.884C46.5015 116.259 43.0177 115.157 40.293 113.041C42.4239 110.474 45.5188 108.716 49.1228 108.344Z' fill='%2370D767' stroke='%2370D767' stroke-width='6.44635'/%3E%3Cpath d='M51.0076 130.876C54.2547 129.21 57.9008 128.973 61.2076 129.957C60.1527 133.122 57.9062 135.883 54.6824 137.536C51.4353 139.202 47.7892 139.439 44.4824 138.455C45.5373 135.291 47.7838 132.53 51.0076 130.876Z' fill='%2370D767' stroke='%2370D767' stroke-width='6.44635'/%3E%3Cpath d='M64.303 148.603C67.5501 146.937 71.1962 146.7 74.503 147.684C73.4481 150.849 71.2016 153.609 67.9779 155.263C64.7307 156.929 61.0846 157.166 57.7778 156.182C58.8327 153.017 61.0793 150.256 64.303 148.603Z' fill='%2370D767' stroke='%2370D767' stroke-width='6.44635'/%3E%3Cpath d='M85.8015 164.445C85.0489 168.016 85.7798 171.596 87.5994 174.527C90.375 172.676 92.4472 169.783 93.1943 166.237C93.9469 162.666 93.216 159.086 91.3965 156.155C88.6208 158.006 86.5486 160.899 85.8015 164.445Z' fill='%2370D767' stroke='%2370D767' stroke-width='6.44635'/%3E%3Cpath d='M109.706 165.525C111.013 168.932 113.571 171.542 116.69 173.015C118.016 169.954 118.185 166.399 116.887 163.016C115.58 159.608 113.022 156.999 109.903 155.526C108.577 158.587 108.408 162.142 109.706 165.525Z' fill='%2370D767' stroke='%2370D767' stroke-width='6.44635'/%3E%3Cpath d='M134.308 160.134C136.403 163.122 139.517 165.033 142.901 165.705C143.445 162.414 142.746 158.924 140.666 155.957C138.572 152.969 135.457 151.058 132.073 150.385C131.53 153.677 132.229 157.167 134.308 160.134Z' fill='%2370D767' stroke='%2370D767' stroke-width='6.44635'/%3E%3Cpath d='M152.058 145.902C155.138 147.859 158.747 148.43 162.13 147.753C161.37 144.505 159.387 141.55 156.328 139.607C153.248 137.65 149.639 137.08 146.256 137.756C147.016 141.004 148.999 143.96 152.058 145.902Z' fill='%2370D767' stroke='%2370D767' stroke-width='6.44635'/%3E%3Cpath d='M163.732 129.284C167.292 130.083 170.882 129.4 173.837 127.619C172.023 124.819 169.157 122.709 165.622 121.915C162.061 121.115 158.472 121.799 155.516 123.58C157.33 126.379 160.196 128.49 163.732 129.284Z' fill='%2370D767' stroke='%2370D767' stroke-width='6.44635'/%3E%3Cpath d='M164.983 106.217C168.611 105.82 171.786 104.011 174.005 101.369C171.382 99.3077 167.987 98.2395 164.385 98.6333C160.757 99.0299 157.583 100.839 155.364 103.481C157.986 105.542 161.382 106.611 164.983 106.217Z' fill='%2370D767' stroke='%2370D767' stroke-width='6.44635'/%3E%3Cpath d='M160.504 86.7143C163.94 85.4837 166.606 82.985 168.149 79.8991C165.118 78.5051 161.567 78.2569 158.156 79.4786C154.72 80.7092 152.055 83.2079 150.512 86.2938C153.542 87.6878 157.093 87.936 160.504 86.7143Z' fill='%2370D767' stroke='%2370D767' stroke-width='6.44635'/%3E%3Cpath d='M84.8521 51.3131C87.1713 54.131 88.1794 57.6429 87.9222 61.0834C84.6053 60.7268 81.4295 59.1197 79.127 56.3222C76.8078 53.5043 75.7998 49.9923 76.057 46.5518C79.3738 46.9085 82.5497 48.5156 84.8521 51.3131Z' fill='%2370D767' stroke='%2370D767' stroke-width='6.44635'/%3E%3Cpath d='M106.482 44.9427C107.134 48.5334 106.304 52.0915 104.403 54.9709C101.68 53.0436 99.6895 50.0931 99.0415 46.5283C98.3889 42.9376 99.2193 39.3794 101.12 36.5001C103.843 38.4274 105.834 41.3779 106.482 44.9427Z' fill='%2370D767' stroke='%2370D767' stroke-width='6.44635'/%3E%3Cpath d='M130.818 50.4144C129.748 53.9036 127.376 56.6825 124.365 58.3669C122.832 55.4041 122.419 51.8688 123.481 48.4048C124.551 44.9156 126.923 42.1367 129.934 40.4523C131.467 43.4151 131.88 46.9504 130.818 50.4144Z' fill='%2370D767' stroke='%2370D767' stroke-width='6.44635'/%3E%3Cpath d='M149.029 67.4967C146.456 70.0847 143.062 71.4372 139.613 71.5236C139.638 68.1877 140.921 64.8677 143.476 62.2983C146.049 59.7103 149.443 58.3578 152.892 58.2714C152.867 61.6073 151.584 64.9273 149.029 67.4967Z' fill='%2370D767' stroke='%2370D767' stroke-width='6.44635'/%3E%3C/svg%3E");
      }
    }

    @include media(mobile-l) {
      padding: 20px;
    }

    @include media(mobile-m) {
      flex-direction: column;
      padding: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px;

    ul {
      list-style: disc;
      padding-left: 43px;

      li {
        list-style: disc;
      }

      @include media(mobile-m) {
        padding-left: 10px;
      }
    }

    p {
      margin: 0;
      font-size: clamp(16px, 1.1rem + 1.1vi, 28px);
      color: var(--color-black-100);
    }
  }

  .container--btns {
    position: absolute;
    right: 56.5%;
    bottom: 8.7%;
  }

  &__btns {
    display: flex;
    justify-content: space-between;

    .btn {
      z-index: 3;
      width: auto;
      min-width: auto;
      background-color: transparent;
      opacity: 1;

      &::after {
        right: 0;
      }

      &:focus {
        background-color: transparent;
      }

      &.swiper-button-disabled {
        display: none;
        opacity: 0;
        pointer-events: none;
      }

      &--prev {
        scale: 1;

        &::before {
          content: "";
          width: 24px;
          height: 24px;
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='23' viewBox='0 0 16 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1.36481C9 0.812522 8.55228 0.364807 8 0.364807C7.44772 0.364807 7 0.812522 7 1.36481H9ZM7.29289 22.0719C7.68342 22.4624 8.31658 22.4624 8.70711 22.0719L15.0711 15.708C15.4616 15.3174 15.4616 14.6843 15.0711 14.2937C14.6805 13.9032 14.0474 13.9032 13.6569 14.2937L8 19.9506L2.34315 14.2937C1.95262 13.9032 1.31946 13.9032 0.928932 14.2937C0.538408 14.6843 0.538408 15.3174 0.928932 15.708L7.29289 22.0719ZM7 1.36481L7 21.3648H9V1.36481H7Z' fill='%232C8469'/%3E%3C/svg%3E");
          background-size: contain;
          background-repeat: no-repeat;
          background-color: transparent;
          rotate: (180deg);
        }
      }

      &--next {
        &::before {
          content: "";
          width: 24px;
          height: 24px;
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='23' viewBox='0 0 16 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1.36481C9 0.812522 8.55228 0.364807 8 0.364807C7.44772 0.364807 7 0.812522 7 1.36481H9ZM7.29289 22.0719C7.68342 22.4624 8.31658 22.4624 8.70711 22.0719L15.0711 15.708C15.4616 15.3174 15.4616 14.6843 15.0711 14.2937C14.6805 13.9032 14.0474 13.9032 13.6569 14.2937L8 19.9506L2.34315 14.2937C1.95262 13.9032 1.31946 13.9032 0.928932 14.2937C0.538408 14.6843 0.538408 15.3174 0.928932 15.708L7.29289 22.0719ZM7 1.36481L7 21.3648H9V1.36481H7Z' fill='%232C8469'/%3E%3C/svg%3E");
          background-size: contain;
          background-repeat: no-repeat;
          background-color: transparent;
        }

        &.swiper-button-disabled {
          display: none;
          background-color: transparent;
        }
      }
    }
  }

  &--wildlife {
    padding: 121px 0 0;

    #{$root}__item {
      padding: 0;

      &::before {
        content: unset;
      }

      p {
        margin-bottom: 20px;
      }
    }

    .container--btns {
      bottom: 10%;
      left: 17%;
      right: unset;
    }

    h3 {
      margin-bottom: 20px;
      font-family: var(--font-family-inter);
      font-weight: var(--fw-600);
      font-size: clamp(20px, 2rem + 1vi, 40px);
      line-height: 1.1;
      color: var(--color-black-100);
    }

    #{$root}__content {
      padding: 20px 12px;
      border-left: 1px solid var(--color-gray-50);
      border-bottom: 1px solid var(--color-gray-50);

      p {
        margin-bottom: 19px;
        font-size: clamp(20px, 2rem + 1vi, 28px);
        line-height: 1.16;

        @include media(mobile-l) {
          font-size: clamp(16px, 1.1rem + 1.1vi, 28px);
        }
      }
    }
  }

  @include media(tablet) {
    padding: rem(60) 0;

    &__slider {
      margin-bottom: 0;
    }
  }

  @include media(mobile-l) {
    flex-direction: column;

    h3 {
      font-size: clamp(20px, 1.3459rem + 1.0458vi, 40px);
    }

    &__slide {
      display: block;
      align-items: center;
    }

    &__title {
      width: 100%;
      max-width: unset;
      flex-direction: column;
      padding-top: 0;
      padding-right: 0;
      display: flex;
      margin-bottom: 30px;
    }

    .container--btns {
      bottom: 10%;
      left: unset;
      right: 0;
    }
  }

  @include media(mobile-m) {
    .swiper-scrollbar {
      position: relative !important;
      display: block;
      margin-top: 16px;
    }
  }
}